@model YummyProject.Models.Booking
@{
    ViewBag.Title = "AddBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h2>Rezervasyon Ekleme Sayfası</h2>
<br />

<form method="post" class="form-control">

    <label><strong>Ad Soyad</strong></label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label><strong>Email</strong></label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />
    <label><strong>Telefon Numarası</strong></label>
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />
    <label><strong>Rezervasyon Tarihi</strong></label>
    <input type="date" name="BookingDate" class="form-control" />
    @*@Html.TextBoxFor(x => x.BookingDate, new { @class = "form-control" })*@
    <br />
    <label><strong>Kişi Sayısı</strong></label>
    <select name="PersonCount" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option disabled>Daha fazla kişi için rezervasyon yaptırmak isterseniz bizimle iletişime geçin.</option>
    </select>
    <br />
    <label><strong>Mesaj</strong></label>
    @Html.TextAreaFor(x => x.MessageContent, 3, 1, new { @class = "form-control" })
    <br />
    <label><strong>Onay Durumu</strong></label>
    <select name="IsApproved" class="form-control">
        <option value="true">Onaylandı</option>
        <option value="false">Onaylanmadı</option>
    </select>
    <br />
    <div class="text-center">
        <button class="btn btn-warning">Kaydet</button>
    </div>
    <br />

</form>


